<header class="clearfix">
  <div class="container">
    <div class="header-left" routerLink="/">
      <h3>Event Management</h3>
    </div>
    <div class="header-right">
      <label for="open">
        <span class="hidden-desktop"></span>
      </label>
      <input type="checkbox" name="" id="open">
      <nav>
        <a >Search</a>
        <a routerLink="/cart">Cart</a>
        <a routerLink="/profile">Profile</a>
        <a *ngIf="loggedIn else elseBlock" routerLink="/login">Login</a>
        <ng-template #elseBlock>
          <a  routerLink="/Login">Logout</a>
        </ng-template>
        
      </nav>
    </div>
  </div>
</header>

